{% load inlinecss %}
{% inlinecss "styles/style.css" %}
<html>
    <body>
        <div class="welcome_mail">
            <p>Dear {{ data.first_name }}, </p>
            <p>Thank you for signing up to Ejika. We are thrilled to have you join our ever growing list of professionals and users.</p>
            <p>At Ejika, our dream is to help you realize your dreams. In a world where all economic, marketing and commercial metrics
                are skewed to the advantage of the blue chips alone, we thought of providing a platform that would help the medium
                and small scale start-ups showcase their services to their immediate markets and improve their market visibility. For this reason, Ejika was created.</p>
            <p>We hope you enjoy your have a good experience with us. </p>
            <p>Cheers....Steve</p>
        </div>
    </body>
</html>
{% endinlinecss %}